$color-selection: #CCCCFF;
$color-scissors: #CF9036; // Fiskars brand colour
$color-rock: #aaa;
$color-paper: #eeece3; // sepia

.page {
    display: flex;
    flex-direction: column;
}

.page-header {
    font-size: 2.5rem;
    @media screen and (min-width: 480px) {
        font-size: 5rem;
    }
    margin: 1rem auto 3rem auto;
}


.selector-container {
    display: flex;
    justify-content: center;
}


.selector {
    height: 10rem;
    width: 10rem;

    @media screen and (min-width: 500px) {
        height: 20rem;
        width: 20rem;
    }

    @media screen and (min-width: 1080px) {
        height: 30rem;
        width: 30rem;
    }

    background-color: transparent;
    border: none;

    &:hover,
    &:active,
    &:focus {
        border: 0.5rem solid $color-selection;
    }
    & svg {
        pointer-events: none;
        height: 8rem;
        width: 8rem;

        @media screen and (min-width: 500px) {
            height: 15rem;
            width: 15rem;
        }

        @media screen and (min-width: 1080px) {
            height: 25rem;
            width: 25rem;
        }
    }
}


.selector-rock {
    & svg {
        fill: $color-rock;
    }
}

.selector-paper {
    & svg {
        fill: $color-paper;
    }
}

.selector-scissors {
    & svg {
        fill: $color-scissors;
    }
}

.winner {
    font-size: 2rem;
    margin: 1rem auto;
    @media screen and (min-width: 480px) {
        font-size: 4rem;
    }
}

.choices {
    color: $color-selection;
    font-size: 1.5rem;
    margin: 1rem auto;
    @media screen and (min-width: 480px) {
        font-size: 4rem;
    }
}
